.container {
    max-width: 98%;
    align-self: center;
    margin: 0 auto;
    /* margin: 50%; */
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  select,
  input[type="file"],
  button {
    margin: 10px 0;
    width: 40%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  #record,#selectFileLabel,#selectRecordLabel
  {
    margin: 10px 0;
    width: 40%;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 16px;
  }


  
  button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  pre {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
  }
  
  /* TemplateList.css */

.template-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 50%;
    
  }
  
  .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 100%;
    
  }
  
  .form-label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-select {
    padding: 5px;
    font-size: 16px;
    width: 100%;
    align-items: center;
  }
  
  .button-group {
    margin-top: 20px;
    width: fit-content;
    align-items: center;
    width: 80%;
  }
  
  .button {
    padding: 10px 10px;
    /* margin: 0 10px; */
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  #template {
    width: 400px; /* Adjust as needed */
  }
  
  #fileType {
    width: 180px; /* Adjust as needed */
  }


  .table-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    height: 400px; /* Set the height you want for the vertical scroll */
    border: 1px solid #ccc;
  }
  
  .scrollable-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .scrollable-table th, .scrollable-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    white-space: nowrap; /* Ensure the content stays on one line */
  }
  
  .scrollable-table th {
    background-color: #f4f4f4;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Header sticks at the top */
  }
  
  .scrollable-table tbody tr {
    background-color: #fff;
  }
  
  .scrollable-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .scrollable-table tbody tr:hover {
    background-color: #f1f1f1;
  }